services:
  server:
    image: kvwrap-server:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "50051:50051"
    environment:
      KVWRAP_NODE_ID: 0
    volumes:
      - ./data:/.kvwrap_data
      - ./router_settings.json:/router_settings.json:ro